@charset "utf-8";
*{margin: 0px;padding: 0px;outline: none;text-decoration: none;list-style: none;box-sizing: border-box;}
:is(::after,::before){margin: 0px;padding: 0px;box-sizing: border-box;}
:root{--margin : 30px;--colorBorder:#7b7b7b;--backGroundColor:yellow;--translateX:0px;--backgroundCheckTheme:rgb(231, 231, 231);--BeforeColor:#000;}                                     /* select in js document.documentElement.style.setProperty('--margin','-50px'); */

body{min-height: 100vh;margin:0px auto;font-family: Arial, Helvetica, sans-serif;display: flex;justify-content: center;align-items: center;}
body #container{position: relative;max-width: 1440px;width: 100%;margin: 25px auto;}
body #container .head{display: flex;align-items: center;}
body #container .head .profile{ width: fit-content;border: 1px solid var(--colorBorder);border-radius: 40px;padding: 5px;display: flex;justify-content: center;align-items: center;position: absolute;left: 25px;}
body #container .head .profile .img{width:50px;height: 50px;border-radius: 50%;}
body #container .head .profile .info{margin-left: 15px;margin-right: 10px;}
body #container .head .profile .info span, h4{color: #fff;mix-blend-mode: difference;}
body #container .head .title{margin: 0px auto;display: flex;align-items: center;}
body #container .head .title h1{font-weight: bold;font-size:  50px;display: flex;align-items: center;font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;mix-blend-mode: difference;color: #fff;}
body #container .head .title  :is(.sun , .moon){width:35px;height: 35px;border-radius: 50%;}
body #container .head .title  .sun{display: flex;align-items: center;justify-content: center; position: relative;overflow: hidden;margin-right: 1px;border: 1px solid #fff;background-color: #fff;}
body #container .head .title  .moon{position: absolute;top: 0px;left: 0px;left: 0px;top: 0px;transform: translate(35px,-35px);background-color: rgb(33,0,57);animation: move 2s infinite linear;}
body #container .head .title  :is(.sun , .moon) i{font-size:25px;display: block;line-height: 35px;text-align: center; -webkit-text-stroke: 1px rgba(255,255,255, 0.8);;}
body #container .head .title  .sun > i{color: yellow;-webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);}
body #container .head .title  .moon > i{color: rgb(193, 127, 227);-webkit-text-stroke: 1px rgba(0, 0, 0, 0.5); transform: scale(0); animation:moveScale 2s linear infinite;}
@keyframes move{
    0%{
        transform: translate(35px,-35px);
    }

    100%,30%{
        transform: translate(0px,0px);
    }
}
@keyframes moveScale{
    0%{
        transform: scale(0);
    }
    30%{
        transform: scale(0);
    }
    100%,40%{
        transform: scale(1);
    }
}
body #container .checkTheme{display: flex;align-items: center;justify-content: center;margin-top: var(--margin);}
body #container .checkTheme{color: #fff;}
body #container .checkTheme span{mix-blend-mode: difference;}
body #container .checkTheme .inpChange{width: 60px;border-radius: 40px;height: 27px;border: 1px solid var(--BeforeColor);background-color:var(--backgroundCheckTheme);position: relative;margin-left: 10px;cursor: pointer;}
body #container .checkTheme .inpChange::before{content: '';width: 20px;height: 20px;border-radius: 50%;background-color:var(--BeforeColor);position: absolute;top: 3px;left: 3px;transform:translateX(var(--translateX));transition:transform .5s;}  /*top 1.5px because border of parent == 1px top and bottom && trnslateX(55px)*/
body #container .cards{display: flex;justify-content: center;align-items: center;flex-wrap: wrap;width: 95%; margin: var(--margin) auto var(--margin) auto;}
body #container .cards .card{padding: 7.5px;border: 1px solid var(--colorBorder);max-width: 280px;}
body #container .cards .card :is(.box, h4, p){mix-blend-mode: difference;}
body #container .cards .card:nth-child(2){margin: var(--margin);}
body #container .cards .card .box{min-height: 100px;background-image:linear-gradient(to left , rgb(209, 209, 209),rgb(62, 62, 62));border-radius: 5px;}
body #container .cards .card h4, p{color: #fff;}
body #container .cards .card h4{text-align: center;margin: 5px auto;}
body #container .cards .card .inps{margin-top:10px;}
body #container .cards .card .inps .inpBuy, .inpShow{width: 60px;cursor: pointer;background-color: var(--backGroundColor);border: 1px solid rgb(255, 255, 255);border-radius: 5px;font-size: 15px; padding: 2.5px;}
body #container .cards .card .inps .inpBuy{float: left;}
body #container .cards .card .inps .inpShow{float: right;}
@media (min-width:280px) and (max-width:947px) {
    body #container .head{flex-direction: column;}
    body #container .head .profile{position:initial;margin-bottom: var(--margin);}
    body #container .head .title h1{font-size: 37px;}
}
body .DarkModeBlack{width: 100%;min-height: inherit;background-color: rgb(0, 0, 0);clip-path: circle(0%); z-index: -1;position: fixed;top: 0px;}
body .DarkModeWhite{width: 100%;min-height: inherit;background-color: #fff; z-index: -2;position: fixed;top: 0px;}
body .ActiveDark{clip-path: circle(100%);transition:clip-path 5s;}

@media(prefers-color-scheme:DARK){      /*DETECT DARK MODE OR LGHT MODE*/
    body .DarkModeWhite{background-color:rgba(205, 205, 205, 0.8);}
}
